<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- ======= Header ======= -->
	<header id="header" class="header d-flex align-items-center fixed-top" th:fragment="header-index">
		<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

			<a href="/shipper" class="logo d-flex align-items-center">
				<h1>eShipper</h1>
			</a>

			<i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
			<i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
			<nav id="navbar" class="navbar">
				<ul>
					<li><a href="#hero" class="active">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a class="get-a-quote" href="/shipper">Be A Shipper</a></li>
				</ul>
			</nav><!-- .navbar -->

		</div>
	</header><!-- End Header -->
	<!-- End Header -->
</body>

</html>