<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Order Detail</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link th:href="@{/assets/img/favicon.png}" rel="icon">
	<link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link th:href="@{/assets/css/main.css}" rel="stylesheet">

</head>

<body>

	<!-- ======= Header ======= -->
	<header th:replace="fragment/header :: header"></header>
	<!-- End Header -->

	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('../assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>Order Detail</h2>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a href="/shipper/home">Home</a></li>
						<li>Order Detail</li>
					</ol>
				</div>
			</nav>
		</div><!-- End Breadcrumbs -->

		<section class="sample-page">
			<div class="container" data-aos="fade-up">
				<div th:replace="fragment/order-detail-box :: order-detail-box"></div>
			</div>
		</section>

	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer th:replace="fragment/footer :: footer"></footer>
	<!-- End Footer -->

	<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div id="preloader"></div>

	<!-- Vendor JS Files -->
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
	<script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
	<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
	<script th:src="@{/assets/vendor/aos/aos.js}"></script>
	<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

	<!-- Template Main JS File -->
	<script th:src="@{/assets/js/main.js}"></script>
	<script th:src="@{/assets/js/domain.js}"></script>

	<!-- Handle total cost -->
	<script>
		let costElements = document.getElementsByClassName("cost");
		let totalCost = 0;
		for (let i=0; i<costElements.length; i++) {
			totalCost += parseFloat(costElements[i].innerHTML);
		}
		document.getElementById("total").innerHTML = totalCost.toLocaleString('en-US');
	</script>

</body>

</html>